.card {
  min-height: 23.7rem;
  min-width: 149px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* height: 261px; */
  border-radius: 0.5rem;
  overflow: hidden;
}

.image_wrapper {
  position: relative;
  outline: unset;
}
.image_wrapper:focus-visible .left_border_top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 0.5rem solid;
}
.image_wrapper:focus-visible .left_border {
  position: absolute;
  bottom: 0;
  height: 192px;
  width: 0.5rem;
}
.image_wrapper:focus-visible .bottom_border {
  position: relative;
  height: 0.5rem;
  /* width: 256px; */
}
.image_wrapper:focus-visible .bottom_border_right {
  position: absolute;
  bottom: 0px;
  right: -0.5rem;
  width: 0px;
  height: 0px;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid;
}

.image_wrapper:focus-visible .image_container {
  left: 0.5rem;
  /* bottom: 5px;
  width: 261px;
  height: 149px; */
}
.image_container {
  margin: auto;
  position: relative;
  width: 144px;
  height: 192px;
}

.metadata {
  margin: 0 5px;
  width: 144px;
  padding: 1rem;
  color: var(--color-brand-accent-moon);
  /* background-color: var(--color-background-base); */
}

.profile {
  display: flex;
  align-items: center;
}

.avatar {
  margin: 0;
  position: relative;
  height: 5rem;
  min-width: 5rem;
  border-radius: 100%;
  overflow: hidden;
}

.profile_description {
  overflow: hidden;
  margin-left: 1rem;
}

.profile p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

.title {
  font-weight: 600;
  color: var(--color-text-alt-2) !important;
}
.game {
  color: var(--color-text-alt-2) !important;
}
