.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  height: 5rem;
  margin-top: 1rem;
  text-align: left;
}
.container {
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-width: 95%;
}

.nav div {
  display: flex;
}

.nav form {
  display: flex;
}

.nav figure {
  margin: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4rem;
  width: 4rem;
}

.nav p {
  padding: 0 1rem;
  color: aliceblue;
}

.nav a {
  min-width: 3rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
}

.nav input {
  height: 3.6rem;
  width: 40rem;
  line-height: 1.5;
  appearance: none;
  background-clip: padding-box;
  transition: border 100ms ease-in, background-color 100ms ease-in;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.2);
  color: #efeff1;
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 0.6rem 0px 0px 0.6rem;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
}

.nav input::placeholder {
  color: #c2c2c3;
}

.nav input:hover {
  outline: none;
  border-color: hsla(0, 0%, 100%, 0.3);
}

.nav input:focus {
  outline: none;
  border-color: #a970ff;
  background-color: #000;
}

.search {
  background-color: hsla(0, 0%, 100%, 0.15);
  color: #efeff1;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.session {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

.session button {
  color: #efeff1;
  padding: 0 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
  font-weight: 600;
  border-radius: 0.4rem;
  height: 3.6rem;
  min-width: 3rem;
}

.session li {
  list-style: none;
}
