.main {
  height: 90vh;
  overflow: hidden;
  overflow-y: auto;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recomended {
  text-align: left;
  font-weight: var(--font-weight-bolder);
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
}
.recomended div {
  width: 95%;
}

.recomended p {
  margin: 1rem 0;
}
.recomended span {
  color: var(--color-cyan-13);
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
